<%# headerです %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<%= link_to "MoonNight", root_path, class: "navbar-brand text-warning" %>
	<div class="collapse navbar-collapse" id="navbarToggler">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<button class="btn btn-default dropdown-toggle nav-link text-primary" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					運営からのおすすめ
					<span class="caret"></span>
				</button>

				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="/eye_mask">アイマスク</a></li>
					<li><a href="/aroma">アロマ</a></li>
					<li><a href="/ear">イヤホン</a></li>
				</ul>
			</li>
		</ul>

		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
<%# ここまで %>

<%#  %>

<div class = "container text-black">
	<div class = "row">
	<% @items.each do |item| %>
		<div class = "item col-md-4">
			<img src="<%= item['mediumImageUrls'][0] %>" alt="">
			<a href="<%= item['affiliateUrl'] %>"></a>
			<h5 class = "pt-2">商品名</h5>
			<p><%= item['itemName'] %></p>
			<h5>値段</h5>
			<p><%= item['itemPrice'] %>円</p>
		</div>
	<% end %>
		
		
</div>

