<% cache "url" do %>

  <div class = "search_list_box">
    <div class = "container">
      <div class = "row pt-5">
        <div class = "col-md-4 offset-md-1">
          <img class = "text-center" src="<%= @image0 %>" width="100%" height="200">
          <p class = "mb-0">動画タイトル</p>
          <%= link_to @title0, "http://www.youtube.com/embed/#{@url0}" %>
        </div>

        <div class = "col-md-4 offset-md-2">
          <img src="<%= @image1 %>" width="100%" height="200">
          <p class = "mb-0">動画タイトル</p>
          <%= link_to @title1, "http://www.youtube.com/embed/#{@url1}" %>
        </div>

        <div class = "col-md-4 offset-md-1 pt-5">
          <img src="<%= @image2 %>" width="100%" height="200">
          <p class = "mb-0">動画タイトル</p>
          <%= link_to @title2, "http://www.youtube.com/embed/#{@url2}" %>
        </div>

        <div class = "col-md-4 offset-md-2 pt-5">
          <img src="<%= @image3 %>" width="100%" height="200">
          <p class = "mb-0">動画タイトル</p>
          <%= link_to @title3, "http://www.youtube.com/embed/#{@url3}" %>
        </div>

        <div class = "col-md-4 offset-md-1 pt-5">
          <img src="<%= @image4 %>" width="100%" height="200">
          <p class = "mb-0">動画タイトル</p>
          <%= link_to @title4, "http://www.youtube.com/embed/#{@url4}" %>
        </div>

        <div class = "col-md-4 offset-md-2 pt-5">
          <img src="<%= @image5 %>" width="100%" height="200">
          <p class = "mb-0">動画タイトル</p>
          <%= link_to @title5, "http://www.youtube.com/embed/#{@url5}" %>
        </div>

        <div class = "col-md-4 offset-md-1 pt-5">
          <img src="<%= @image6 %>" width="100%" height="200">
          <p class = "mb-0">動画タイトル</p>
          <%= link_to @title6, "http://www.youtube.com/embed/#{@url6}" %>
        </div>

        <div class = "col-md-4 offset-md-2 pt-5">
          <img src="<%= @image7 %>" width="100%" height="200">
          <p class = "mb-0">動画タイトル</p>
          <%= link_to @title7, "http://www.youtube.com/embed/#{@url7}" %>
        </div>

        <div class = "col-md-4 offset-md-1 pt-5">
          <img src="<%= @image8 %>" width="100%" height="200">
          <p class = "mb-0">動画タイトル</p>
          <%= link_to @title8, "http://www.youtube.com/embed/#{@url8}" %>
        </div>

        <div class = "col-md-4 offset-md-2 pt-5">
          <img src="<%= @image9 %>" width="100%" height="200">
          <p class = "mb-0">動画タイトル</p>
          <%= link_to @title9, "http://www.youtube.com/embed/#{@url9}" %>
        </div>
<% end %>