<!DOCTYPE html>
<html>
  <head>
    <title>OriginApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crete+Round|Gloria+Hallelujah|Sawarabi+Mincho" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
